<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
        <script th:src="@{/webjars/jquery/3.4.1/jquery.js}" ></script> 
        <title>Plain WebSocket Example</title>     
    </head>
    
    <body>
        <div class="container">
            <div >
                <h2>Simple Web socket Example</h2>                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-3">
                        <div >
                            Press Connect button for Web socket connection:&nbsp; and for opposite press Disconnect button
                            <div>
                                <button type="button" id="connect" onclick="connect()">Connect</button>
                            <button type="button" id="disconnect" onclick="disconnect()" disabled>Disconnect</button>
                            </div>                        
                        </div>
                    </div>
                    <div >
                        <div class="input-group" id="sendmessage" style="display: none;">
                        	<input type="text" id="name" class="form-control" placeholder="Name">
                            <input type="text" id="message" class="form-control" placeholder="Message">
                            <div class="input-group-append">
                                <button id="send" class="btn btn-primary" onclick="send()">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div id="content"></div>                    
                </div>
            </div>
        </div>
 
      
        
        <script>
            var ws;
            function setConnected(connected) {
                $("#connect").prop("disabled", connected);
                $("#disconnect").prop("disabled", !connected);
                if (connected) {
                    $("#sendmessage").show();
                } else {
                    $("#sendmessage").hide();
                }
            }
 
            function connect() {
                /*<![CDATA[*/
                var url = /*[['ws://'+${#httpServletRequest.serverName}+':'+${#httpServletRequest.serverPort}+@{/web-socket}]]*/ 'ws://localhost:8080/web-socket';
                /*]]>*/
                ws = new WebSocket(url);
                ws.onopen = function () {
                    showBroadcastMessage('<div class="alert alert-success">Connected to server</div>');
                };
                ws.onmessage = function (data) {					
                    showBroadcastMessage(createTextNode(data.data));
                };
                setConnected(true);
            }
 
            function disconnect() {
                if (ws != null) {
                    ws.close();
                    showBroadcastMessage('<div class="alert alert-warning">Disconnected from server</div>');
                }
                setConnected(false);
            }            
 
            function send() {
				if($("#name").val() != '' &&  $("#message").val() != '')
				{
					 ws.send($("#name").val() + ':' + $("#message").val());
                	 $("#message").val("");
               		 $("#name").val("");
				}
               
            }
 
            function createTextNode(msg) {
                return '<div class="alert alert-info">' + msg + '</div>';
            }
            
            function showBroadcastMessage(message) {
                $("#content").html($("#content").html() + message);
            }
        </script>
    </body>
</html>